@import "./colors.scss";
@import "./mixin.scss";
@import "./style.scss";

.stack-tools ul {
    text-align: center;
    padding: $base-spacing 0;
    white-space: nowrap;
    overflow: hidden;
}

.stack-tools ul li {
    display: inline-block;
    color: darken($theme-grey, 10%);
    padding: 0 ($base-spacing / 2);
}

.stack-tools img {
    width: rem(120px);
    height: rem(120px);
    display: block;
    margin-bottom: $base-spacing;
    filter: $filter-icon;
}

.stack-hide {
    display: inline-block;
}

@media only screen and (min-width: 240px) and (max-width: 660px) {
    .stack-tools ul {
        padding: 0 0 ($base-spacing * 2) 0;
        white-space: normal;
    }

    .stack-tools ul li {
        width: 50%;
        padding: 0 ($base-spacing / 2);
        text-align: center;
    }

    .stack-hide {
        display: none !important;
    }

    .stack-tools img {
        width: rem(100px);
        height: rem(100px);
        margin: ($base-spacing / 2) auto;
    }
}
