$background-page: #181818;
$background-header: #000000;
$background-section: #111111;
$link: #eeeeee;
$theme-green-dark: #124813;
$theme-green-light: #00eb3c;
$theme-green-editor: #7ec699;
$theme-grey: #999999;
$filter-icon: invert(68%) sepia(14%) saturate(20%) hue-rotate(314deg) brightness(87%) contrast(90%); /* #999 */
$filter-icon-hover: invert(100%) sepia(1%) saturate(6%) hue-rotate(45deg) brightness(103%) contrast(100%); /* #fff */
$shadow: #000;