@import "./colors.scss";
@import "./mixin.scss";
@import "./style.scss";

.contact-link {
    margin-left: $base-spacing / 4;
}

.contact-icon {
    width: rem(42px);
    height: rem(42px);
    filter: $filter-icon;
    position: relative;
    top: rem(8px);
    @include transition(filter, 0.5s, ease-in-out);
}

.contact-link:hover .contact-icon {
    filter: $filter-icon-hover;
}

@media only screen and (min-width: 441px) and (max-width: 615px) {
    .contact-link {
        margin-left: $base-spacing / 5;
    }

    .contact-icon {
        width: rem(32px);
        height: rem(32px);
        top: rem(10px);
    }
}
